html {
  font-size: 16px;
}

body {
  font-size: 16px;
  background-color: #dedede;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #004491;
  line-height: 1.4em;
  font-size: 20px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 45px;
  word-spacing: 0.5em;
  margin: 0;
  text-align: left;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #004491;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 25px;
  word-spacing: 0.5em;
  text-align: left;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004491;
  position: fixed;
  top: 0%;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #28ffa5;
  text-align: center;
  padding: 14px 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.main {
  margin-top: 75px;
}

.heading {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#main-images {
  max-height: 300px;
  width: auto;
}

#about-image {
  max-height: 300px;
  width: auto;
}
